@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #2C3E50;
  --color-secondary: #34495E;
  --color-accent: #E67E22;
  --color-neutral: #ECF0F1;
  --color-text-dark: #2C3E50;
  --color-text-light: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-neutral);
  color: var(--color-text-dark);
  font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

header {
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
  color: var(--color-text-light);
  padding: 0 20px;
}

a:hover {
  text-decoration: underline;
}

hr {
	border: 1px solid #d9d9d9;
}

button {
  background-color: var(--color-accent);
  color: var(--color-text-light);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #cf6d17; /* tono más oscuro del acento */
}
/*
.container {
  background-color: var(--color-secondary);
  width: min(90%, 1200px);
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid gray;
  border-radius: 5px;
}
*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--color-neutral); /* Fondo claro */
  color: var(--color-text-dark);
}

.card {
  background-color: var(--color-neutral);
  border: 2px solid var(--color-primary); /* borde con color primario */
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 8px 16px rgba(44, 62, 80, 0.1); /* sombra suave con color primario */
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(44, 62, 80, 0.2);
}

.card-title {
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-button {
  background-color: var(--color-accent);
  color: var(--color-text-light);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.card-button:hover {
  background-color: #cf6d17; /* tono más oscuro del acento */
}

